{
  "presets": ["react", ["env", {
    "targets": {
      "browsers": ["last 5 versions", "ie >= 8"],
      "modules": false
    }
  }]],
  "plugins": ["react-hot-loader/babel", "syntax-dynamic-import"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": ["istanbul", "transform-es2015-modules-commonjs"]
    }
  }
}
